.login-form {
    padding: 2rem;
    background-color: rgba(255,255,255,0.9);
    color: #1b1b1b;
    box-shadow: 0 8px 10px 10px rgb(0 0 0 / 30%);
}

.login-form * {
    font-size: 1.25rem;
}

.form-group > * {
    display: block;
    width: 100%;
}

.form-group {
    margin: 0 0 1rem 0;
}
.form-group label{
    padding: 0 0 .5rem 0;
    cursor: pointer;
}

.form-group input{
    padding: .25rem .5rem;
    min-height: 2.5rem;
}

.login-form button[type="submit"] {
    width: 100%;
    display: block;
    padding: 0.5rem;
    cursor: pointer;
    outline: none;
}

.form-group input, 
.login-form button[type="submit"]{
    border: 1px solid #1b1b1b;
    background: white;
    color: black;
}

.login-form button[type="submit"]:hover{
    background: black;
    color: white;
}